@{
    ViewData["Title"] = "Home Page";
}

<form method="get">
    <h2>Elettronica di consumo</h2>
    <vc:product-list category="Electronics"></vc:product-list>

    <h2>Consumabili</h2>
    <vc:product-list category="Consumables"></vc:product-list>
</form>
